/* === Color Definitions === */
@define-color bg-transparent rgba(0, 0, 0, 0);
@define-color modules-bg rgba(26, 27, 38, 0.8);
@define-color hover-bg rgba(122, 162, 247, 0.8);
@define-color hover-bg-strong rgba(122, 162, 247, 1);
@define-color hover-text rgba(0, 0, 0, 1);
@define-color custom-arch-hover #1793d1;

/* === Style Rules === */

* {
    font-family: "Noto Sans Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: @bg-transparent;
    font-family: "Noto Sans Mono";
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: @modules-bg;
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}

.modules-left {
    padding: 0;
}

#clock,
#battery,
#upower,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#group-power,
#custom-power,
#custom-reboot,
#custom-suspend,
#custom-lock,
#custom-quit,
#custom-bluetooth,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#upower:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-suspend:hover,
#custom-lock:hover,
#custom-quit:hover,
#custom-bluetooth:hover,
#mpd:hover {
    background: @hover-bg;
    color: @hover-text;
}

#workspaces button {
  border-radius: 15px;
  margin-right: 5px;
}

#workspaces button.active {
    background: @hover-bg;
    color: @hover-text;
}

#workspaces button:hover {
  background: @hover-bg-strong;
  color: @hover-text;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}

#custom-arch:hover {
    color: @custom-arch-hover;
}

